extends layout

block content
    h2= title
    table.table.table-hover
        tbody
            each car in cars
                tr
                    td=car.dataValues.id
                    td=car.dataValues.model.dataValues.brand.dataValues.name
                    td=car.dataValues.model.dataValues.name
                    //td=car.dataValues.registration_no
                    td
                        a(href="/cars/" + car.dataValues.id) Szczegóły
                    td
                        a(href="/cars/" + car.dataValues.id + "/reservation") Rezerwuj