extends layout

block content
    h2 Dostęp do tej strony wymaga zalogowania
    form(method="post", action="/auth/login")
        | Login:
        br
        input(type='text', name='login')
        br
        |   Hasło:
        br
        input(type='password', name='password')
        br
        br
        input(type='submit', value="Zaloguj się")
    br
    p
        | Jeżeli nie masz konta, możesz je założyć&nbsp;
        a(href='/auth/register') tutaj