extends layout

block content
    h2= title
    table.table.table-hover
        tbody
            each reservation in reservations
                tr
                    td=reservation.id
                    td=reservation.start
                    td=reservation.end
                    //td=car.dataValues.model.dataValues.name
                    //td
                    //    a(href="/cars/" + car.dataValues.id) Szczegóły
                    //td
                    //    a(href="/cars/" + car.dataValues.id + "/reservation") Rezerwuj